body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, );
  color: #333;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  color: #333f;
  margin-bottom: 30px;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 180px;
  padding: 15px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100px;
  height: 100px;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #ff4444;
}
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 8px;
  font-size: 1rem;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1rem;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #cc0000;
}

.error {
  color: #fff;
  background-color: #ff4444;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
